<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.yi.hairshop.dao.DesignerMapper">
	
	<select id="selectDesignerByAll" resultType="Designer">
		select * from Designer
	</select>
	<!-- <select id="selectByLimit" resultType="Designer">
		select *
		from Designer
		order by d_no asc limit #{startRow},#{size}
	</select> -->
</mapper>