<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.yi.hairshop.dao.WorkDialogMapper">

	<resultMap type="WorkDialog" id="resultWorkDialog">
		<result property="wNo" column="wNo" />
		<result property="wWrokTime" column="wWrokTime" />
		<result property="wReservTime" column="wReservTime" />
		<result property="wEName.eName" column="wEName" />
		<result property="wDNo.dNo" column="wDNo" />
		<result property="wGNo.gNo" column="wGNo" />

	</resultMap>

	<select id="selectDListByNo" parameterType="int" resultMap="resultWorkDialog">
		select 
		w_no,
		w_wrokTime,
		w_reservTime,
		w_e_name,
		w_d_no,
		w_g_no
		from workdialog
		where w_g_no=#{dNo}
	</select>
</mapper>